<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!--/* Add styles for user icon */
  .user-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  /* Add styles for selected user display */
  #selected-user {
    margin-top: 20px;
    font-weight: bold;
  }-->

</head>
<body>
  <!-- User Metadata Dropdown -->
<!--<div class="user-metadata">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="userMetadataDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select User
    </button>
    <div class="dropdown-menu" aria-labelledby="userMetadataDropdown">
      {% for user in users %}
        <a class="dropdown-item" href="#" onclick="selectUser('{{ user.name }}', '{{ user.icon }}')">
          <img src="{{ user.icon }}" alt="{{ user.name }} Icon" class="user-icon">
          {{ user.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>-->

  <div class="container">
    <h1>Call Player</h1>
    
    <!-- Choose an Existing File -->
    <div class="option-block">
      <div class="option-heading" onclick="toggleOption('pre-loaded')">
        <h2>Choose an Existing File</h2>
      </div>
      <div class="option-content" id="pre-loaded">
        <ul class="file-list">
          {% for filename in filenames %}
             {% if filename in error_file %}
              <li class="error"><a href="call_{{ loop.index }}">{{ filename }}</a></li>
              {% else %}
               
            <a href="call_{{ loop.index }}"><li>{{ filename }}</li></a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    
    
    <!-- Upload a new audio file -->
    
    <!--<div class="option-block">
      <div class="option-heading" onclick="toggleOption('upload-file')">
        <h2>Upload a new audio file</h2>
        <span class="toggle-icon">+</span>
      </div>
      <div id="upload-file" class="option-content">
        <form method="POST" action="/upload" enctype="multipart/form-data" id="form">
          <input type="file" name="wavfile" accept=".mp3, .wav">
          <input type="submit" id="button" value="Upload" onclick="start()">
        </form>
      </div>
    </div>
    -->
    
    <!-- Processing Div -->
    <div id="processing">
      <img src="{{ url_for('static', filename='processing.gif') }}" id="img" alt="Processing the image">
      <p>Processing...</p>
    </div>
  </div>

  <script>
    function toggleOption(id) {
      var optionContent = document.getElementById(id);
      var toggleIcon = optionContent.previousElementSibling.getElementsByClassName('toggle-icon')[0];

      if (optionContent.style.display === 'block') {
        optionContent.style.display = 'none';
        toggleIcon.textContent = '+';
      } else {
        optionContent.style.display = 'block';
        toggleIcon.textContent = '-';
      }
    }

    function start() {
      var form = document.getElementById("form");
      var processingDiv = document.getElementById("processing");
      form.hidden = true;
      processingDiv.style.display = "block";
    }
    function selectUser(name, icon) {
    // Update the selected user display
    var selectedUserDisplay = document.getElementById("selected-user");
    selectedUserDisplay.innerHTML = `
      <img src="${icon}" alt="${name} Icon" class="user-icon">
      Selected User: ${name}
    `;

    // You can perform any additional actions here based on the selected user
  }
  </script>
</body>
</html>
